.list {
  max-width: 500px;
  margin: 50px auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
}
.item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid gray;
  border-radius: 12px;
  box-shadow: 10px 10px 10px gray;
}
.item__isOnline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin-left: 20px;
}
.item__isOffline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin-left: 20px;
}
.item__image {
  width: 150px;
  margin: 10px;
}
.item__name {
  font-size: 38px;
  font-weight: bold;
  margin-left: 50px;
}
